/* CSS Document */
<!--
body {
	background-color: #E3DFC6;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

img { border: 0px; }

/* Header Tags */
h1 {  /* interior page headers */
	font-family: Arial, "Times New Roman", Times, serif;
	color: #1c1a19;
	font-size: 18px;
	font-weight: bolder;
}
h2 { /* main page table square headers */
	font-family: Arial, "Times New Roman", Times, serif;
	color: #1c1a19;
	font-size: 13px;
	font-weight: bold;
}
h3 { /* interior page subheaders */
	font-family: Arial, Helvetica, sans-serif;
	color: #1c1a19;
	font-size: 12px;
	line-height: 24px;
	font-weight: bold;
}
h4 { /* interior page subheaders */
	font-family: Arial, Helvetica, sans-serif;
	color: #e85f1a;
	font-size: 12px;
	font-weight: bold;
}

.container {
	font-family: Arial, Helvetica, sans-serif;
	color: #4F4F45;
}
.container a { color: #e85f1a }
.container a:hover { color: #e85f1a; text-decoration:none; }
.container a:visted { color: #e85f1a; }
.container small { font-size: 10px; }

a.whitelink, a.whitelink:visited { color: #fff; text-decoration:none; font-size: 10px;}
a.whitelink:hover { color: #fff; font-size: 10px; text-decoration:underline;}
a.brownlink, a.brownlink:visited { color: #A17650; text-decoration:none; font-size: 10px;}
a.brownlink:hover { color: #A17650; font-size: 10px; text-decoration:underline;}

.header {
	width: 735px;
	height: 67px;
	background-image:  url("images/fondolibros2.jpg");
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: right;
	padding-top: 33px;
	padding-right: 15px;
	margin-top: 20 px;
}

.menu {
	height: 26px;
	background-color: #FFFFFF;
}

.menuen {
	height: 26px;
	background-color:  #F1EFE2;
	text-align: left;
	padding-left: 10 px;
	padding-top: 10px;
	font-weight:bold;
	
}

.footer {
	background-color: #908A7C;
	border-top: 1px solid #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #CFC9BD;
	text-align: left;
	padding-top: 6px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 6px;
}
.footer a, .footerlink a:visited { color: #fff; text-decoration:none; float:right; padding-left:15px;}
.footer a:hover { color: #fff; float:right; padding-left:15px; text-decoration:underline;}

/* Main Page Banner */
.bannerhead {
	color: #e85f1a;
	font-family: Arial, "Times New Roman", Times, serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: bolder;
}
.bannersubhead {
	color: #e85f1a;
	font-family: Arial, "Times New Roman", Times, serif;
	font-size: 15px;
	line-height: 17px;
	font-weight: bolder;
}
.bannersubsubhead {
	color: #1c1a19;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.caption {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8px;
}

/* Main Page Layout*/
.leftsquare {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
	color: #e85f1a;
	text-align: right;
	vertical-align: top;
	border-right: 1px solid #fff;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.leftsquare img {
	padding-right: 0px;
	padding-bottom: 15px;
	float: right;
}

.middlesquare {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
	color: #4F4F45;
	text-align: left;
	vertical-align: top;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.middlesquare img {
	float: left;
	padding-left: 0px;
	padding-bottom: 0px;
}

.toprightsquare {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
	color: #4F4F45;
	text-align: left;
	vertical-align: top;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.toprightsquare img {
	float: center;
	padding-right: 0px;
	padding-bottom: 8px;
}

.rightsquare {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
	color: #4F4F45;
	text-align: left;
	vertical-align: top;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.rightsquare img {
	float: left;
	padding-right: 13px;
	padding-bottom: 15px;
}

/* Interior Page Layout*/
.leftcolumn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4F4F45;
	line-height: 15px;
	text-align: left;
	vertical-align: top;
	border-right: 1px solid #fff;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 5px 5px 5px 5px;
}
.rightcolumn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4F4F45;
	line-height: 15px;
	text-align: left;
	vertical-align: top;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 5px 5px 5px 5px;
	}
.columnader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4F4F45;
	line-height: 15px;
	text-align: left;
	vertical-align: top;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 5px 5px 5px 5px;
	}
.sidemenu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 26px;
}
.sidemenu span {
	color: #e85f1a;
	font-weight: normal;
}
.sidemenu a, .sidemenu a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	padding: 0px 20px 0px 15px;
	display: block;
}
.sidemenu a#off, .sidemenu a:visited#off {
	color: #4F4F45;
}
.sidemenu a#on, .sidemenu a:visited#on {
	color: #fff;
	font-weight: bolder;
}
.sidemenu a:hover#on, .sidemenu a:hover#off  {
	color: #fff;
	text-decoration: none;
	background-color: #1c1a19;
}
.sidemenu a:hover#on span, .sidemenu a:hover#off span{
	color: #fff;
}
.billboard {
	width: 168px;
	background-color: #D4CE9A;
	padding: 10px 20px 10px 25px;
	position: relative;
}
.billboardhead {
	font-family: Arial, Helvetica, sans-serif;
	color: #1c1a19;
	font-size: 12px;
	line-height: 24px;
	font-weight: bolder;
}

/* Color Palette */
#yellow {
	background-color: #D4CE9A;
}
#white {
	background-color: #fff;
}
#green {
	background-color: #B3C08B;
}
#blue {
	background-color: #B3C08B;
}
#beige {
	background-color: #F1EFE2;
}

/* Print specific styles */
@media print {
	.container {
		width: 100%;
	}
	.header {
		display: none;
	}
	.tablesquares {
		width: 650px;
	}
	.leftsquare {
		padding-top: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
	}
	.rightsquare {
		padding-top: 10px;
		padding-left: 15px;
		padding-bottom: 10px;
	}
	.footer {
		padding-top: 6px;
		padding-bottom: 6px;
	}
	.leftcolumn {
		padding-top: 15px;
		padding-bottom: 10px;
	}
	.rightcolumn {
		padding-top: 20px;
	}
}

/* Screen specific styles */
@media screen {
	.container {
		width: 750px;
		left: 50%;
		position: absolute;
		margin-left: -375px;
		font-size: 11px;
	}
	.printhead {
		display: none;
	}
	.tablesquares {
		width: 750px;
	}
	.leftsquare {
		width: 200px;
		padding-top: 8px;
		padding-right: 10px;
		padding-left: 15px;
		padding-bottom: 10px;
	}
	
	.middlesquare {
		width: 250px;
		padding-top: 8px;
		padding-right: 5px;
		padding-left: 5px;
		padding-bottom: 5px;
	}
	
	.toprightsquare {
		width: 650px;
		padding-top: 8px;
		padding-right: 5px;
		padding-left: 5px;
		padding-bottom: 0px;
	}
	
	.rightsquare {
		width: 300px;
		padding-top: 8px;
		padding-right: 5px;
		padding-left: 8px;
		padding-bottom: 10px;
	}
	
	.footer {
		width: 720px;
		float: left;
		padding-top: 6px;
		padding-right: 15px;
		padding-left: 15px;
		padding-bottom: 6px;
	}
	.leftcolumn {
		width: 213px;
		padding-top: 15px;
		padding-bottom: 10px;
	}
	.rightcolumn {
		padding-top: 20px;
		padding-right: 20px;
		padding-left: 20px;
		padding-bottom: 20px;
	}
	
	.columnader {
		padding-top:10px;
		padding-right: 20px;
		padding-left: 20px;
		padding-bottom: 10px;
	}
}

-->
